$mq-breakpoints: (
    s:  320px,
    m:  640px,
    l:  800px,
    xl: 1024px,
    xxl: 1280px
);

@import "~sass-mq/mq";
@import '../../../static/sass/settings/settings.breakpoints';
@import '../../../static/sass/settings/settings.sassline';

@import '../../../static/sass/vendor/sassline/sassline-base';


.fade-appear {
  opacity: 0.01;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .4s ease-in-out;
}

@import 'components/component.stream';
