// @import '../../../../bower_components/bbc-grandstand/grandstand';
@import '../../../../bower_components/sassline/assets/sass/sassline-base';
@import 'objects/media-object';
@import 'objects/responsive-image';
// @import "~inuit-media/objects.media";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// body {
//   background-color: #00223e;
//   color: white;
// }

// stream post is 567px wide. Would be nice to have it native 600px for twitter
// images at medium size.

// .show-grid {
//   background-image: -webkit-linear-gradient(top, white 0, rgba(255,255,255,0) 1px);
//   background-image: -moz-linear-gradient(top, white 0, rgba(255,255,255,0) 1px);
//   background-image: -o-linear-gradient(top, white 0, rgba(255,255,255,0) 1px);
//   background-image: linear-gradient(to bottom, white 0, rgba(255,255,255,0) 1px);
//   background-repeat: repeat-y;
//   background-size: 100% 1rem;
// }

.fade-appear {
  opacity: 0.01;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .4s ease-in-out;
}

#app {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 20px;
}

@import 'components/component.stream';
