$mq-breakpoints: (
    s:  320px,
    m:  640px,
    l:  800px,
    xl: 1024px,
    xxl: 1280px
);

@import '../../../static/sass/settings/settings.breakpoints';
@import '../../../static/sass/settings/settings.sassline';
@import "~sass-mq/mq";

@import '../../../static/sass/vendor/sassline/sassline-shared';

.HUD {
  position: relative;
  height: 8rem;
  @include fontsize(theta, all);

  /*
   * 1. Pull the nav up over the stream, so the stream border is flush.
   */

  @include mq($from: m) {
    position: absolute; /* [1] */
    height: 5rem;
  }
}

.live-indicator {
  display: inline-block;

  @include mq($until: m) {
    margin-bottom: 1rem;
  }
  @include mq($from: m) {
    position: absolute;
    left: 0;
    top: 0;
  }
}

// Needs a component class so we don't touch all the objects on the page.
.loader {
  position: absolute;
  margin: 0;
  left: 112px;
  top: 6px;

  @include mq($from: m) {
    left: 150px;
    top: 8px;
  }
}

.stream-navigation  {
  @include mq($until: m) {
    margin-bottom: 1rem;
  }

  @include mq($from: m) {
    margin-left: 180px;
  }
}

.stream-navigation__item {
  a {
    display: block;
    // padding: 5px 10px;
    padding: 0px 10px;
    transition: all .3s ease-in-out;
    border-radius: 10px;
    text-shadow: none;

    &.active {
      background-color: white;
      color: #00223E;
    }
  }

}
