@import './settings/settings.breakpoints';
@import './settings/settings.sassline';
@import "~sass-mq/mq";

// @import "~normalize.css/normalize";

@import './vendor/sassline/sassline-base';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@import 'objects/container';
@import 'objects/media-object';
@import 'objects/responsive-image';
@import 'objects/list-inline';
// @import 'objects/grid';

body {
  background-color: #00223e;
  color: white;
  background-image:
    url('/images/explosion-bg.min.jpg'),
    linear-gradient(to bottom, #002a4d 0, rgba(255,255,255,0) 1px);
  background-repeat: no-repeat, repeat-y;
  background-position: top center, 0 0;
  background-size: auto, 100% 1rem;

  @include mq($until: s) {
    background-size: 300%, 100% 1rem;
  }
  @include mq($from: s, $until: m) {
    background-size: 200%, 100% 1rem;
  }
}

// stream post is 567px wide. Would be nice to have it native 600px for twitter
// images at medium size.

.show-grid1 {
  // background-image: -webkit-linear-gradient(top, #002a4d 0, rgba(255,255,255,0) 1px);
  // background-image: -moz-linear-gradient(top, #002a4d 0, rgba(255,255,255,0) 1px);
  // background-image: -o-linear-gradient(top, #002a4d 0, rgba(255,255,255,0) 1px);
  background-image: linear-gradient(to bottom, #002a4d 0, rgba(255,255,255,0) 1px);
  background-repeat: repeat-y;
  background-size: 100% 1rem;
}
