$mq-responsive: true;

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.
$mq-breakpoints: (
    s:  320px,
    m:  740px,
    l:  980px,
    xl: 1300px,

    // Tweakpoints
    // desktopAd: 810px,
    // mobileLandscape: 480px
);

// @import '../../../../bower_components/bbc-grandstand/grandstand';
@import '../../../bower_components/sassline/assets/sass/sassline-base';
@import "~sass-mq/mq";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


@import 'objects/media-object';
@import 'objects/responsive-image';

// body {
//   background-color: #00223e;
//   color: white;
// }

// stream post is 567px wide. Would be nice to have it native 600px for twitter
// images at medium size.

.show-grid {
  background-image: -webkit-linear-gradient(top, cyan 0, rgba(255,255,255,0) 1px);
  background-image: -moz-linear-gradient(top, cyan 0, rgba(255,255,255,0) 1px);
  background-image: -o-linear-gradient(top, cyan 0, rgba(255,255,255,0) 1px);
  background-image: linear-gradient(to bottom, cyan 0, rgba(255,255,255,0) 1px);
  background-repeat: repeat-y;
  background-size: 100% 1rem;
}
