$mq-breakpoints: (
    s:  320px,
    m:  640px,
    l:  800px,
    xl: 1024px,
    xxl: 1280px
);

@import "~sass-mq/mq";

.stream__body {
  min-height: 800px;
}

.stream__body-wrapper {
  @include mq($from: m) {
    padding-top: 6rem;
  }
}
