// .masthead {
//   height: 475px;
//   padding-top: 50px;
//   margin-bottom: 3rem;
// }


.logo {
  perspective: 1000;
  position: relative;
  width: 730px;
  height: 536px;
  margin: 0 auto;
  z-index: 10;
}

.logo__ribbon {
  // display: none;
  position: absolute;
  z-index: 20;
  height: 449px;
  width: 464px;
  left: 50%;
  margin-left: -232px;
  background: url(/images/logo__ribbon.png) no-repeat;
}

.logo__ribbon__text {
  position: absolute;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  // background: url(/images/halloween-15/logo__ribbon__text.png) no-repeat;
}

.logo--halloween-15 {
  .logo__ribbon__text {
    background: url(/images/halloween-15/logo__ribbon__text.png) no-repeat;
  }
}

.logo--2015 {
  .logo__ribbon__text {
    background: url(/images/2015/logo__ribbon__text.png) no-repeat;
  }
}

.logo--2014 {
  .logo__ribbon__text {
    background: url(/images/2014/logo__ribbon__text.png) no-repeat;
  }
}

.logo--2013 {
  .logo__ribbon__text {
    background: url(/images/2013/logo__ribbon__text.png) no-repeat;
  }
}

.logo--2012 {
  .logo__ribbon__text {
    background: url(/images/2012/logo__ribbon__text.png) no-repeat;
  }
}


.logo__base {
  position: relative;
  display: block;
  height: 449px;
  width: 464px;
  background: url(/images/logo--blank.png) no-repeat;
  margin: 0 auto;
  z-index: 10;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

// .js {
  .logo {
    // position: absolute;
    // top: 50px;
    /* top: -450px; */
    // left: 50%;
    // margin-left: -365px;
    transform-style: preserve-3d;
    transform: translate3d(0,0,0);
  }
// }
