.lightsaber {
  display: block;
  opacity: 1;
  // visibility: hidden;
  overflow: hidden;
  width: (506px / 2);
  height: (350px / 2);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-size: (506px / 2) (350px / 2);
  background-position: top center;

  @include mq($from: l) {
    width: 506px;
    height: 350px;
    background-size: 506px 350px;
  }

  transform-origin: bottom left;
  transform: scaleX(0) rotate(-60deg);
  backface-visibility: hidden;

  // transition: all .7s $easeInOutFast;
  transition: all .5s cubic-bezier(1.000, 0.000, 0.435, 1.100);
  transition-delay: 1s;
}

.lightsaber--blue {
  background-image: url(/svg/lightsaber_blue.min.svg);
}
.lightsaber--red {
  background-image: url(/svg/lightsaber_red.min.svg);
}
.lightsaber--green {
  background-image: url(/svg/lightsaber_green.svg);
}

// .lightsaber--stand {
//   transform: scaleX(0) rotate(-60deg);
//   opacity: 0;
// }

.lightsaber--flipped {
  // transform-origin: bottom left;
  // transform: scaleX(-1) rotate(0deg);
  // transform: scaleX(0) rotate(-60deg);
  right: -100%;
  left: auto;
  // transition-duration: .45s;

  // &.lightsaber--stand {
  //   transform: scaleX(0) rotate(-60deg);
  // }
}

.logo__props--engaged {
  opacity: 1;
  // visibility: visible;

  .lightsaber {
    transform: scaleX(1) rotate(0deg);
    opacity: 1;
    // visibility: visible;
  }
  .lightsaber--flipped {
    transform: scaleX(-1) rotate(0deg);
  }
}
