// Need to come back to this and merge them.

$breakpoints: (
  break-0: 0,     // 0px       Mobile first
  break-1: 640,   // 640px   ~ Small tablet up
  break-2: 800,   // 800px   ~ Large tablet up
  // break-3: 1024,  // 1024px  ~ Desktop up
);

$mq-responsive: true;

$mq-breakpoints: (
    s:  320px,
    m:  640px,
    l:  800px,
    xl: 1024px,
    xxl: 1280px
);
